# --- Data manipulation ---
pandas==2.2.2
numpy==1.26.4
pyarrow==16.1.0

# --- Dates & time ---
# pendulum 3 conflita com Airflow 2.11 -> use 2.1.x OU remova e deixe vir do constraints
pendulum==2.1.2

# --- Google Sheets & Drive API ---
google-api-python-client==2.146.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
gspread==6.1.2
gspread-dataframe==4.0.0

# --- Excel files ---
openpyxl==3.1.5
xlrd==2.0.1
xlsxwriter==3.2.0
pyxlsb==1.0.10

# --- HTTP & Web Scraping ---
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2    # usa wheel manylinux; ok

# --- Browser Automation ---
selenium==4.25.0
playwright==1.48.0    # ok (os browsers são baixados só no runtime via `playwright install`)

# --- Pipelines & Databases ---
SQLAlchemy==2.0.35
psycopg2-binary==2.9.9
apache-airflow-providers-google==10.20.0
dask==2024.9.0
PyMySQL==1.1.1
apache-airflow-providers-mysql==5.7.2

# --- Utils ---
tqdm==4.66.5
pyyaml==6.0.2
# Se optar por mysql-connector em vez de PyMySQL, troque no seu código a URL do engine.
mysql-connector-python
