# --- Data manipulation ---
pandas
numpy
pyarrow

# --- Google Sheets & Drive API ---
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
gspread-dataframe

# --- Excel files ---
openpyxl
xlrd
XlsxWriter
pyxlsb

# --- HTTP & Web Scraping ---
requests
beautifulsoup4
lxml

# --- Browser Automation ---
selenium
playwright   # lembre de rodar: playwright install

# --- Pipelines & Databases ---
SQLAlchemy
psycopg2-binary
apache-airflow-providers-google
dask
PyMySQL
apache-airflow-providers-mysql

# --- Utils ---
tqdm
pyyaml

# driver alternativo (use em vez de PyMySQL e troque a URL para mysql+mysqlconnector://)
mysql-connector-python
